{% load static %}
<div class="container">
  <section>
    <div class="row">
      <div class="col-xs-12">
        <h3 class="comment-title">Comments</h3>
      </div>
      <div id="comment-list-container" class="comment-list">
        {% include "comments/includes/comment_list.html" %}
      </div>
    </div>
  </section>
  <section>
    <div class="row">
      <div class="col-xs-12">
        {% if user.is_authenticated %}
          <div id="comment-contanier" class="comment-container close-form">
        {% else %}
          <div class="comment-container close-form" data-toggle="modal" data-target="#sign-in-modal">
        {% endif %}
          <div class="header-comment">
            <div class="header-item image-container">
              <img src="{% static "images/adam.jpg" %}" class="img-circle" alt="image avatar">
            </div>
            <div class="header-item avatar-container">
              <h3>Avatar name</h3>
            </div>
            <div id="show-comment">
              <h3>Write comment</h3>
            </div>
          </div>
          <form class="comment-form" novalidate>
            <div class="form-group">
              <div id="content-comment" required contentEditable="true"></div>
            </div>
            <div id="error-comment-message" class="block-content">
              <div class="text-error">
                <p class="error-text">texto prueba</p>
              </div>
            </div>
            <div class="submit-actions">
              <div class="submit-item">
                <button id="cancel-comment" class="btn">Cancel</button>
              </div>
              <div class="submit-item">
                <button id="main-comment-form" type="submit" class="btn btn-secondary">Comment</button>
              </div>
              <div class="submit-item">
                <i class="fa fa-spinner fa-pulse fa-fw"></i>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</div>