
    <h1>{{ user.get_full_name }}</h1>
    <div class="profile">
        <div>
            {% with total_followers=user.followers.count %}
                <span class="count">
                    <span class="total">
                    {{ total_followers }}
                    </span> follower{{ total_followers | pluralize }}
                </span>
            {% endwith %}
        </div>
    </div>







