{% load static %}

<h1>People</h1>
<div id="people-list">
    {% for user in users %}
        <a href="{{ user.get_absolute_url }}">
            {% if user.profile.photo %}
                <img src="{{ user.profile.photo.url }}" alt="blog-img">
            {% else %}
                <img src="{% static "images/adam.jpg" %}" alt="blog-img">
            {%endif %}
        </a>
        <div class="info">
            <a href="{{ user.get_absolute_url }}" class="title"> {{ user.get_full_name }}</a>
        </div>
    {% endfor %}
</div>
