<div class="metadata">
    <div class="u-pull-left">
        <div class="avatar">
            <img [src]="post.author.avatar">
        </div>
        <div class="author">
            <span class="name blink-font" (click)="goToAuthorPosts(post.author)">{{ post.author.name }}</span>
            <span class="date">{{ post.publicationDate | FromNow }}</span>
        </div>
    </div>
    <div class="u-pull-right">
        <button class="edit-icon"
                *ngIf="userCanEditPost()"
                (click)="showPostEditionForm()">
            <i class="fa fa-pencil" aria-hidden="true"></i>
        </button>
    </div>
</div>
<div class="post" *ngIf="!postInEdition">
    <h3>{{ post.title }}</h3>
    <img *ngIf="post.media" [src]="post.media" class="u-max-full-width">
    <div class="html-text" [innerHtml]="plainTextToHtml(post.intro)"></div>
    <hr>
    <div class="html-text" [innerHtml]="plainTextToHtml(post.body)"></div>
    <category-box [categories]="post.categories"
                  (categorySelected)="goToCategoryPosts($event)"></category-box>
    <post-likes [likes]="post.likes"
                (likesUpdated)="updatePostLikes($event)"></post-likes>
</div>
<div class="edition" *ngIf="postInEdition">
    <div class="warn">
        <span>Historia en edición</span>
    </div>
    <post-form [editionMode]="true"
               [post]="getPostToEdit()"
               (postSubmitted)="updatePost($event)"
               (postCancelled)="cancelPostEdition()"></post-form>
</div>
