<form #postRef="ngForm"
      class=""
      (ngSubmit)="submitPost(postRef)" novalidate>
    <!-- Title -->
    <input
        type="text"
        name="title"
        placeholder="Título"
        class="u-full-width"
        [(ngModel)]="post.title"
        required>
    <!-- Intro -->
    <textarea
        name="intro"
        placeholder="Introduce tu historia"
        class="u-full-width georgia-font"
        [(ngModel)]="post.intro"
        autogrow
        required></textarea>
    <!-- Body -->
    <textarea
        name="body"
        placeholder="Cuenta tu historia"
        class="u-full-width georgia-font"
        [(ngModel)]="post.body"
        autogrow></textarea>
    <!-- Publication date -->
    <div *ngIf="!editionMode">
        <div>
            <label (click)="setScheduling(false)">
                <span class="radio-input" [class.active]="!publicationDateScheduled"></span>
                No programar
            </label>
        </div>
        <div>
            <label (click)="setScheduling(true)">
                <span class="radio-input" [class.active]="publicationDateScheduled"></span>
                Publicar en:
            </label>
        </div>
        <div>
            <input
                type="datetime-local"
                name="publicationDate"
                [min]="nowDatetimeLocal"
                [ngModel]="nowDatetimeLocal">
        </div>
    </div>
    <!-- Accept -->
    <button
        type="submit"
        class="button-primary u-pull-right"
        [disabled]="postRef.invalid">Aceptar</button>
    <!-- Cancel -->
    <button
        type="button"
        class="button-primary u-pull-right"
        *ngIf="editionMode"
        (click)="emitPostCancelled()">Cancelar</button>
</form>
