<footer class="footer">
  <div class="content-footer">
    <div class="footer-brand-title">
      <h2>Welldone <span>&copy; stormtrooper</span></h2>
    </div>
    <div class="footer-menu">
      <div class="divider"></div>
      <div class="social-networks">
        <div class="icon-item">
          <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
        </div>
        <div class="icon-item">
          <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        </div>
        <div class="icon-item">
          <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
        </div>
        <div class="icon-item">
          <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
        </div>
      </div>
      <div class="divider"></div>
      <div class="menu-items">
        <a href="#">Home</a>
        <a href="#">Blog</a>
        <a href="#">About</a>
        <a href="#">Contact</a>
        <a href="#">Terms & Privacy</a>
      </div>
    </div>
  </div>
  <!--<div id="goUpPage" class="go-up-page">
    <i class="material-icons">&#xE316;</i>
  </div>-->
</footer>