<header id="promoHeader" class="ui-element website-full-view promo-header">
  <div class="header-title-center">
    <div class="header-brand-title">
      <h1>Share your Stories</h1>
    </div>
    <div class="promo-content">
      <p>Be part of the community writting and <span>sharing your stories.</span></p>
    </div>
    <div class="sign-up-block">
      <a class="btn btn-primary" href="login.html">Sign Up</a>
    </div>
  </div>
</header>