{% load blog_tags %}
<nav id="main-navbar" class="ui-element navbar hide-animate">
  <div class="content-navbar-header">
    <div class="button-category">
      <a id="searchButton" class="mobile-icons">
        <i class="material-icons">&#xE8B6;</i>
      </a>
    </div>
    <div class="brand">
      <a class="brand" href="{% url 'post:url_post_list' %}">Welldone</a>
    </div>
    <div class="login">
      <div class="mobile-search-access">
        <a href="#" class="Sign-up" data-toggle="modal" data-target="#sign-up-modal">Sign Up</a>
      </div>
      <div class="display-over-tablet-desktop">
        {% if user.is_authenticated %}
        {% else %}
        <a href="#" class="login-button" data-toggle="modal" data-target="#sign-in-modal">Sign in </a> 
        <a href="#" class="Sign-up" data-toggle="modal" data-target="#sign-up-modal"> / Sign Up</a>
        {% endif %}
        <form class="search-bar-form" novalidate="">
          <input type="text" placeholder="Search in Welldone" id="navbarSearchInput" class="text-search-input" name="navSearchInput">
          <button id="searchButtonDesktop" class="search-button" type="submit">
            <i class="material-icons">&#xE8B6;</i>
          </button>
        </form>
      </div>
    </div>
  </div>
  <div class="content-categories">
    <div class="content-list-category">
      <ul class="navbar-list">
          {% show_latest_tags %}
      </ul>
    </div>
  </div>
</nav>