<nav class="navbar">
  <div class="search-bar-content">
    <form class="search-bar-form" novalidate="">
      <input type="text" placeholder="Search in Welldone" id="navbarSearchInput" class="text-search-input" name="navSearchInput">
      <button class="search-button" type="submit">
        <i class="material-icons">&#xE8B6;</i>
      </button>
      <div class="close-search-bar" id="closeSearchBar">
        <i class="material-icons">&#xE5CD;</i>
      </div>
    </form>
  </div>
</nav>