.markdown-air {
  /* https://github.com/mrmrs/fluidity */
  @import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,300);
}
.markdown-air *:after {
  background: transparent !important;
  color: #000 !important;
  box-shadow: none !important;
  text-shadow: none !important;
}
.markdown-air a,
.markdown-air a:visited {
  text-decoration: underline;
}
/*
.markdown-air a[href]:after {
  content: " (" attr(href) ")";
}
.markdown-air abbr[title]:after {
  content: " (" attr(title) ")";
}
.markdown-air a[href^="#"]:after,
.markdown-air a[href^="javascript:"]:after {
  content: "";
}
*/
.markdown-air pre,
.markdown-air blockquote {
  border: 1px solid #999;
  page-break-inside: avoid;
}
.markdown-air thead {
  display: table-header-group;
}
.markdown-air tr,
.markdown-air img {
  page-break-inside: avoid;
}
.markdown-air img {
  max-width: 100% !important;
}
.markdown-air p,
.markdown-air h2,
.markdown-air h3 {
  orphans: 3;
  widows: 3;
}
.markdown-air h2,
.markdown-air h3 {
  page-break-after: avoid;
}
.markdown-air html {
  font-size: 12px;
}
@media screen and (min-width: 32rem) and (max-width: 48rem) {
  .markdown-air html {
    font-size: 15px;
  }
}
@media screen and (min-width: 48rem) {
  .markdown-air html {
    font-size: 16px;
  }
  .markdown-air ul {
    padding: 0 30px;
  }
}
.markdown-air body {
  line-height: 1.85;
}
.markdown-air p,
.markdown-air .air-p {
  font-size: 1rem;
  margin-bottom: 1.3rem;
}
.markdown-air h1,
.markdown-air .air-h1,
.markdown-air h2,
.markdown-air .air-h2,
.markdown-air h3,
.markdown-air .air-h3,
.markdown-air h4,
.markdown-air .air-h4 {
  margin: 1.414rem 0 .5rem;
  font-weight: inherit;
  line-height: 1.42;
}
.markdown-air h1,
.markdown-air .air-h1 {
  margin-top: 0;
  font-size: 3.998rem;
}
.markdown-air h2,
.markdown-air .air-h2 {
  font-size: 2.827rem;
}
.markdown-air h3,
.markdown-air .air-h3 {
  font-size: 1.999rem;
}
.markdown-air h4,
.markdown-air .air-h4 {
  font-size: 1.414rem;
}
.markdown-air h5,
.markdown-air .air-h5 {
  font-size: 1.121rem;
}
.markdown-air h6,
.markdown-air .air-h6 {
  font-size: .88rem;
}
.markdown-air small,
.markdown-air .air-small {
  font-size: .707em;
}
.markdown-air img,
.markdown-air canvas,
.markdown-air iframe,
.markdown-air video,
.markdown-air svg,
.markdown-air select,
.markdown-air textarea {
  max-width: 100%;
}
.markdown-air body {
  color: #444;
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-weight: 300;
  margin: 6rem auto 1rem;
  max-width: 48rem;
  text-align: center;
}
.markdown-air img {
  border-radius: 50%;
  height: 200px;
  margin: 0 auto;
  width: 200px;
}
.markdown-air a,
.markdown-air a:visited {
  color: #3498db;
}
.markdown-air a:hover,
.markdown-air a:focus,
.markdown-air a:active {
  color: #2980b9;
}
.markdown-air pre {
  background-color: #fafafa;
  padding: 1rem;
  text-align: left;
}
.markdown-air blockquote {
  margin: 0;
  border-left: 5px solid #7a7a7a;
  font-style: italic;
  padding: 1.33em;
  text-align: left;
}
.markdown-air ul {
  padding: 0 30px;
}
.markdown-air ul,
.markdown-air ol,
.markdown-air li {
  list-style: initial;
  padding: auto !important;
  text-align: left;
}
.markdown-air p {
  color: #777;
}
