<!-- Modal -->
<div class="modal fade" id="sign-up-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <div class="row">
          <div class="col-xs-12">
            <header>
              <h4 class="modal-title-text" id="myModalLabel">Sign up</h4>
            </header>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <form id="signup-form" novalidate>
              <div class="form-group">
                <input type="text" required="true" class="form-control" id="username-signup" placeholder="Username">
              </div>
              <!--<div class="form-group">
                <input type="text" required="true" class="form-control" id="lastName-signup" placeholder="Last Name">
              </div>-->
              <div class="form-group">
                <input  type="email" required="true" pattern="([\w\.]+)@([\w\.]+)\.(\w+)" class="form-control" id="email-signup" placeholder="Email">
              </div>
              <div class="form-group">
                <input  type="email" required="true" pattern="([\w\.]+)@([\w\.]+)\.(\w+)" class="form-control" id="email-confirm-signup" placeholder="Confirm Email">
              </div>
              <div class="form-group">
                <input type="password" required="true" class="form-control" id="password-signup" placeholder="Password">
              </div>
              <div class="checkbox">
                <label>
                  <input required="true" id="agreement-sign-up" type="checkbox"> By singning up, I agree to WellDone
                </label>
                <a href="#" class="accent-text">Term Privacy</a>
              </div>
              <div id="error-message-signup" class="block-content">
                <div class="text-error">
                  <p class="error-text">texto prueba</p>
                </div>
              </div>
              <div class="submit-actions">
                <button type="submit" class="btn btn-primary">Sign in</button>
                <i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>
              </div>
            </form>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <p class="no-account">If you already have account <a href="#" class="accent-text">Sign in here</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>