{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="application-name" content="">
    <meta name="description" content="">
    <meta name="classification" content="">
    <title> {% block title %} Welcome WellDone {% endblock %}</title>
    <link href='https://fonts.googleapis.com/css?family=Slabo+27px' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,400italic,700,300,300italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static "css/style.css" %}">
  </head>

  <body class="full-web">
    {% include "includes/navbar.html" %}
    <div class="ui-element search-bar">
      {% include "includes/searchbar.html" %}
      <ul class="search-list">
        {% include "includes/searchitem.html" %}
        {% include "includes/searchitem.html" %}
        {% include "includes/searchitem.html" %}
      </ul>
    </div>
    <div id="main-content" class="ui-element website-full-view">
      <!--{% if user.is_authenticated %}-->
        <!--<h1>{% blocktrans %}Bienvenido{% endblocktrans %}</h1>-->
      <!--{% else %}-->
        <!--<h1>No autenticado</h1>-->
      <!--{% endif %}-->
      {% block content %}
      {% endblock %}
    </div>
    {% include "includes/footer.html" %}
    {% include "includes/modals/modalaccess.html" %}
    {% include "includes/modals/modalsignup.html" %}
    <script src="{% static "js/app.js" %}"></script>
  </body>
</html>