{% load static %}
<!DOCTYPE html>
<html>
  <head>
  <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="application-name" content="">
    <meta name="description" content="">
    <meta name="classification" content="">
    <link href='https://fonts.googleapis.com/css?family=Slabo+27px' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,400italic,700,300,300italic' rel='stylesheet' type='text/css'>
    <title>Adminweb Wambo</title>
    <link rel="stylesheet" href="{% static "adminweb/css/fontawesome.css" %}">
    <link rel="stylesheet" href="{% static "adminweb/css/bootstrap-admin.min.css" %}">
    <link rel="stylesheet" href="{% static "css/air.css" %}">
    <link rel="stylesheet" href="{% static "adminweb/css/simplemde.min.css" %}">
  </head>
  <body>
    {% if user.is_authenticated %}
      <div id="root"></div>
      <script src="{% static "adminweb/js/bundle.js" %}"></script>
    {% else %}
      <script>
        location.href = '/';
      </script>
    {% endif %}
  </body>
</html>