


<div class="col-sm-6 col-sm-offset-3">
        <h1>Change your password</h1>
        <hr>
        <form method="POST" action="" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form }}
            <input type="submit" class="btn btn-primary btn-block" value="change">
        </form>
</div>
