{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
            <h1>Edit profile</h1>
            <hr>
            <form method="POST" action="" enctype="multipart/form-data">
                {% csrf_token %}
                {{ user_form.as_p}}
                {{ profile_form.as_p }}
                <input type="submit" class="btn btn-primary btn-block" value="Update">
            </form>
            <hr>
        </div>
    </div>
</div>
{% endblock content %}