{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <h1> {{ title }}</h1>
                <hr>
                    <form method="POST" action="" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form | crispy }}
                        <input type="submit" class="btn btn-primary btn-block" value="{{ title }}">
                    </form>
                    <hr>
                <p class="pull-left">Already have an account?</p>
                <a class="pull-right btn btn-default"  href="{% url 'login' %}">Login</a>
        </div>
    </div>
</div>
{% endblock content %}