<div class="header">
    <div class="u-pull-right">
        <search-box (onSearch)="goToPostSearching($event)"></search-box>
    </div>
    <div class="u-pull-right action-link">
        <a routerLink="/new-story">Escribe una historia</a>
    </div>
    <div class="u-pull-right">
        <a class="title" routerLink="/">
            <h1>WellDone</h1>
        </a>
    </div>
</div>
