{% verbatim %}
<script id="comment-list-template" type="text/x-handlebars-template">
  {{#if loading}}
    <div class="spinner-container loading">
      <i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>
    </div>
  {{/if}}
  {{#if errorText}}
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h3 class="text-center">{{{errorText}}}</h3>
      </div>
    </div>
  </div>
  {{/if}}
  {{#each data}}
    <div class="card-container close-replies">
      <div class="card-parent">
        <div class="card">
          <div class="card-header">
            <div class="card-header-item image-container">
              <img src="/static/images/adam.jpg" class="img-circle" alt="image avatar">
            </div>
            <div class="card-header-item">
              <h3>{{{user}}}</h3>
              <span>{{{moment timestamp}}}</span>
            </div>
            <div class="card-header-item">
              <span>2</span>
              <i class="material-icons">favorite_border</i>
            </div>
          </div>
          <div class="card-body">
            <div>{{{content}}}</div>
          </div>
          <div class="card-footer">
            <div class="card-footer-item reply-caret">
              Repplies {{{repliesCount}}} <i class="material-icons down">keyboard_arrow_down</i>
              <i class="material-icons up">keyboard_arrow_up</i>
            </div>
            <div class="card-footer-item">
              <button class="btn btn-secondary reply-button">Reply</button>
            </div>
          </div>
          <div class="comment-container reply-from close-form">
            <div class="header-comment">
              <div class="header-item image-container">
                <img src="/static/images/adam.jpg" class="img-circle" alt="image avatar">
              </div>
              <div class="header-item avatar-container">
                <h3>Avatar name</h3>
              </div>
            </div>
            <form id="comment-form-reply" class="comment-form" data-idComment="{{id}}" novalidate>
              <div class="form-group">
                <div class="content-comment-child" contentEditable="true"></div>
              </div>
              <div class="block-content-child">
                <div class="text-error">
                  <p class="error-text">texto prueba</p>
                </div>
              </div>
              <div class="submit-actions">
                <div class="submit-item">
                  <button class="btn cancel-button">Cancel</button>
                </div>
                <div class="submit-item">
                  <button type="submit" class="btn btn-secondary">Comment</button>
                </div>
                <div class="submit-item">
                  <i class="fa fa-spinner fa-pulse fa-fw"></i>
                </div>
              </div>
            </form>
          </div>
          {{#if repliesCount}}
            {{#unless lastOfType}}
              <div class="divider-line"></div>
            {{/unless}}
          {{/if}}
        </div>
      </div>
      <div class="card-child">
        {{#each replies}}
          <div class="card">
            <div class="card-header">
              <div class="card-header-item image-container">
                <img src="/static/images/adam.jpg"  class="img-circle" alt="image avatar">
              </div>
              <div class="card-header-item">
                <h3>{{{user.username}}}</h3>
                <span>{{{moment timestamp}}}</span>
              </div>
              <div class="card-header-item">
                <span>2</span>
                <i class="material-icons">favorite_border</i>
              </div>
            </div>
            <div class="card-body">
              <div>{{{content}}}</div>
            </div>
            {{#unless lastOfType}}
              <div class="divider-line"></div>
            {{/unless}}
          </div>
        {{/each}}
      </div>
    </div>
  {{/each}}
</script>
{% endverbatim %}
