{#<h3>List Tags:</h3>#}
{% for tag in latest_tags %}
    <li class="navbar-item">
          <a href="{% url 'post:url_post_list_by_tag'  tag.slug %}">{{ tag.name }}</a>
    </li>
    {% empty %}
    There are not latest tags
{% endfor %}