{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="breadcrumb-flex">
    <ol class="breadcrumb breadcrumb-box">
        <li><a href="{% url 'post:url_post_list' %}">Home</a></li>
        <li><a href="{{ instance.get_absolute_url }}">{{ instance.title }}</a></li>
    </ol>
</div>
<div class="title-list">
    <h1>Read, write and share stories</h1>
</div>

<div id="main-list-posts" class="flex-container">
    {% for post in object_list %}
        <div class="post">
            <div class="image-fixed">
                {% if post.image %}
                <a href="{{post.get_absolute_url}}">
                    <img src="{{post.image.url}}" alt="blog-img">
                </a>
                {% else %}
                <a href="{{post.get_absolute_url}}">
                    <img src="{% static "images/adam.jpg" %}" alt="blog-img">
                </a>
                {%endif%}
            </div>
            <div>
                <h3 id="title" class="html-text ">
                        <a href="{{post.get_absolute_url}}">{{post.title|truncatewords:13 }}</a>
                </h3>
                <div class="paragraph-text">{{ post.content|truncatewords:10 }}</div>
            </div>
            <div>
            {% if post.tags.count > 0 %}
                {% for tag in post.tags.all|slice:":2" %}
                <div class="category-tag">
                    <p class="category">
                        <span>
                            <i class="fa fa-tag" aria-hidden="true"></i><a href="{% url 'post:url_post_list_by_tag' tag.slug %}"> {{tag.name | truncatewords:2 }}</a>
                        </span>
                    </p>
                </div>
                {% endfor %}
                {% else %}
                <p class="category">No tag</p>
                {% endif %}
            </div>
            <div class="metadata">
                {% if post.user.profile.photo %}
                <div class="avatar">
                        <img src="{{ post.user.profile.photo.url }}" alt="">
                </div>
                {% else %}
                <div class="avatar">
                        <img src="{% static "images/adam.jpg" %}" alt="">
                </div>
                {% endif %}
                <div class="author">
                    {% if instance.user.get_full_name %}
                        <h4>Author: {{ post.user.get_full_name}}</h4>
                    {% else %}
                        <p> Author:@{{ post.user }}</p>
                    {% endif %}
                {% if post.publish > today %} Staff only: Post Pendiente{% endif %}
                    <span class="date">
                        <time class="timeago" datetime="{{post.publish}}">{{ post.publish | timesince }}</time>
                    </span>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
<div class="pagination">
    {% include 'posts/paginationstags.html'  %}
</div>
{% endblock %}
</div>