<div class="pagination">
    <span class="step-links">
        {% if object_list.has_previous %}
            <a href="?{{ page_rqs_var }}={{ object_list.previous_page_number }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}.
        </span>

        {% if object_list.has_next %}
            <a href="?{{ page_rqs_var }}={{ object_list.next_page_number }}
                 {% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">next
            </a>
        {% endif %}
    </span>
</div>