{% extends 'base-detail.html' %}
{% load blog_tags %}
{% load static %}

{% block content %}
<div class="breadcrumb-flex fix-detail">
    <ol class="breadcrumb breadcrumb-box">
        <li><a href="{% url 'post:url_post_list' %}">Home</a></li>
        <li><a href="{{ instance.get_absolute_url }}">{{ instance.title | truncatewords:6 }}</a></li>
    </ol>
</div>

    <div id="container-detail-post" data-idpost="{{instance.id}}">
        <div class="flex-container-header">
            <div class="metadata flex-item-1">
                {% if instance.user.profile.photo %}
                <div class="avatar">
                        <img src="{{ instance.user.profile.photo.url }}" alt="">
                </div>
                {% else %}
                <div class="avatar">
                        <img src="{% static "images/adam.jpg" %}"" alt="">
                </div>
                {% endif %}
                <div class="author">
                    {% if instance.user.get_full_name %}
                        <h4>Author: {{ instance.user.get_full_name}}</h4>
                    {% else %}
                        <p> Author:@{{ instance.user }}</p>
                    {% endif %}
                    {% if instance.publish > today %} Staff only: Post Pendiente{% endif %}

                        <span class="date-detail">
                            <time class="timeago" datetime="{{instance.publish}}">{{ instance.publish | timesince }}</time><br>
                            {% if instance.read_time >= 9 %}
                              Read time {{ instance.read_time | time:'i' | cut:'0'}} minutes
                            {% else %}
                              Read time {{ instance.read_time | time:'i'}} minutes
                            {% endif %}
                        </span>
                </div>
            </div>
        </div>
        <div class="html-text-detail">
              <h1 id="title">
                  {{instance.title|truncatewords:13 }}
            </h1>
          </div>

          <div class="post-detail-item">
            {% if instance.image %}
              <img src="{{ instance.image.url }}"  class="img-responsive" alt="">
            {% else %}
            <div class="avatar">
                    <img src="{% static "images/adam.jpg" %}"" alt="">
            </div>
            {% endif %}
          </div>
            <div class="detail-paragraph">
                <p>
                  <a data-href ="{{ instance.get_api_like_url }}"
                    data-like="{{ instance.likes.count }}"
                    class="like-btn" href="{{ instance.get_like_url }}">
                    <span class="count-likes">
                  {% if instance.likes.count %}
                    <i class="fa fa-heart" aria-hidden="true"></i>
                  {% else %}
                    <i class="fa fa-heart-o" aria-hidden="true"></i>
                  {% endif %}
                    {{ instance.likes.count }}</span>
                  </a>
                </p>
            </div>
            <!--<small class="flex-container-reverse">-->
              <!--{% if instance.draft %} <span class=" alert alert-danger">Draft</span>{% endif %}-->
              <!--{{ instance.publish | timesince }} ago |-->
              <!--{% if instance.read_time >= 9 %}-->
                  <!--Read time {{ instance.read_time | time:'i' | cut:'0'}} minutes-->
              <!--{% else %}-->
                  <!--Read time {{ instance.read_time | time:'i'}} minutes-->
              <!--{% endif %}-->
            <!--</small>-->
            <div class="container">
              <div class="row">
                <div class="col-xs-12">
	            <div class="detail-paragraph">
        	        <div class="lead markdown-air" id="content-markdown">{{ instance.content }}</div>
                    </div>
	        </div>
	      </div>
            </div>
                {% comment %}
                <p>
                    <div class="fb-like" data-href="{{ request.built_absolute_uri }}" data-layout="button_count" data-action="recommend" data-size="small" data-show-faces="false" data-share="true"></div>
                </p>

                {% endcomment %}
            </div>
    </div>
    <div class="similar-posts">
        {% include 'posts/similar_post.html' %}
    </div>
        {% include 'comments/comment_section.html' %}
{% endblock content %}
