{% load static %}
{% block content %}

<h3>Similar posts</h3>
<div class="category-similar-post-tag">
    <p class="category-similar-tag">
    {% if instance.tags.count > 0 %}
        <i class="fa fa-tags" aria-hidden="true"></i>
        {% for tag in instance.tags.all%}
        <span>
          <a href="{% url 'post:url_post_list_by_tag'  tag.slug %}">{{ tag.name }}</a>
        </span>
          {% if not  forloop.last %}, {% endif %}
        {% endfor %}
    {% endif %}
    </p>
</div>
<div class="flex-container">
    {% for post in similar_post %}
    <div class="post">
        <div class="image-fixed">
            {% if post.image %}
            <a href="{{post.get_absolute_url}}">
                <img src="{{post.image.url}}" alt="blog-img">
            </a>
            {% else %}
            <a href="{{post.get_absolute_url}}">
                <img src="{% static "images/adam.jpg" %}" alt="blog-img">
            </a>
            {%endif%}
        </div>
        <div>
            <h3 id="title-detail" class="html-text">
                    <a href="{{post.get_absolute_url}}">{{post.title|truncatewords:13 }}</a>
            </h3>
            <div class="paragraph-text">{{ post.get_markdown|truncatewords:15 }}</div>
        </div>
        {% if post.tags.count > 0 %}
            {% for tag in post.tags.all|slice:":2"%}
            <div class="category-tag">
                <p class="category">
                    <span>
                        <a href="{% url 'post:url_post_list_by_tag' tag.slug %}">{{tag.name | truncatewords:2}}</a>
                    </span>
                </p>
            </div>
        {% endfor %}
        {% else %}
        <p class="category">No tag</p>
        {% endif %}
        <div class="metadata">
            {% if post.user.profile.photo %}
            <div class="avatar">
                    <img src="{{ post.user.profile.photo.url }}" alt="">
            </div>
            {% else %}
            <div class="avatar">
                    <img src="{% static "images/adam.jpg" %}"" alt="">
            </div>
            {% endif %}
            <div class="author">
                {% if instance.user.get_full_name %}
                    <h4>Author: {{ post.user.get_full_name}}</h4>
                {% else %}
                    <p> Author:@{{ post.user }}</p>
                {% endif %}
            {% if post.publish > today %} Staff only: Post Pendiente{% endif %}
                <span class="date">
                    <time class="timeago" datetime="{{post.publish}}">{{ post.publish | timesince }}</time>
                </span>
            </div>

        </div>
    </div>
    {% empty %}
        <div class="no-similar-posts">
            <span>There are no similar posts. Find other posts with the tags you desire!</span>
        </div>
    {% endfor %}

    </div>
{% endblock %}